%form{:action => "#", :id => 'become_instructor'}
  = text_field :first_name, '', placeholder: 'First Name', class: 'input'
  = text_field :second_name, '', placeholder: 'Last Name', class: 'input'
  = text_field :email, '', placeholder: 'Your Email Address', class: 'input'
  = text_field :zip, '', placeholder: 'Your Zip Code', class: 'input'
  = submit_tag 'become an Instructor'
  