- content_for :extra_javascript do
  - # maps.google can't be loaded twice
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  - # Topbar adds its own maps script, otherwise add it if location search enabled or map is visible
  -#- needs_maps = !FeatureFlagHelper.feature_enabled?(:topbar_v1) && (main_search != :keyword || @view_type.eql?("map"))
  -#- if(needs_maps)
  = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"
  -#= javascript_include_tag "markerclusterer.js"

- content_for :extra_javascript do
  :javascript
    window.ST.initializeLocationSearch({form: '#homepage-filters', search: '#location', status: '#ls', coordinate: '#lc', maxDistance: '#distance_max'});

= form_tag search_without_locale_path, method: :get, id: 'homepage-filters' do
  .home-search.search-holder
    .input-icon-holder
      = label_tag :name_field, class: 'label-icon' do
        %i.icon-search
      = text_field :name_field, '', placeholder: 'Name something you want to learn', class: 'input'
    .input-icon-holder
      = label_tag 'location[name]', class: 'label-icon' do
        %i.icon-map-marker
      = text_field 'q', '', id: 'location', placeholder: 'Where are you?', class: 'input'
      -#= hidden_field_tag 'location[lat]', '', id: 'lat-value'
      -#= hidden_field_tag 'location[lng]', '', id: 'lng-value'
      = hidden_field_tag 'lc', params[:lc]
      = hidden_field_tag 'ls', ''
      = hidden_field_tag 'boundingbox', params[:boundingbox]
      = hidden_field_tag 'distance_max', ''
      = hidden_field_tag "view", "grid"
    = submit_tag 'Find a class!', class: 'search-btn'

-#= render 'homepage/js_search'
