- content_for :extra_javascript do
  - maps_key = MarketplaceHelper.google_maps_key(@current_community.id)
  - key_param = maps_key ? "&key=#{maps_key}" : ""
  = javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=places#{key_param}"

- content_for :extra_javascript do
  :javascript
    window.ST.initializeLocationSearch({form: '#homepage-filters', boundingbox: '#boundingbox', search: '#location', status: '#ls', coordinate: '#lc', maxDistance: '#distance_max'});

= form_tag search_without_locale_path, method: :get, id: 'homepage-filters' do
  .home-search.search-holder
    .input-icon-holder
      = label_tag :name_field, class: 'label-icon' do
        %i.icon-search
      = text_field :name_field, '', placeholder: 'Name something you want to learn', class: 'input'
    .input-icon-holder
      = label_tag 'location[name]', class: 'label-icon' do
        %i.icon-map-marker
      = text_field_tag 'q', '', id: 'location', placeholder: 'Where are you?', class: 'input'
      = hidden_field_tag 'lc', params[:lc]
      = hidden_field_tag 'ls', ''
      = hidden_field_tag 'boundingbox', params[:boundingbox]
      = hidden_field_tag 'distance_max', ''
      = hidden_field_tag "view", "grid"
    = submit_tag 'Find a class!', class: 'search-btn'
