- content_for :extra_javascript do
  :javascript
    window.ST.initializeLocationSearch({form: '#homepage-filters', boundingbox: '#boundingbox', search: '#search_location', status: '#ls', coordinate: '#lc', maxDistance: '#distance_max'});

= form_tag search_without_locale_path, method: :get do
  .row
    .col-4
      .input-icon-holder
        = label_tag :name_field, class: 'label-icon' do
          %i.icon-search
        = text_field_tag :name_field, '', placeholder: 'Any', class: 'input'
    .col-3
      .input-icon-holder
        = label_tag 'location[name]', class: 'label-icon' do
          %i.icon-map-marker
        = text_field_tag :lq, params[:lq], id: 'search_location', placeholder: 'Where are you?', class: 'input'
      -#= hidden_field_tag 'lc', params[:lc]
      -#= hidden_field_tag 'ls', ''
      -#= hidden_field_tag 'boundingbox', params[:boundingbox]
      -#= hidden_field_tag 'distance_max', ''
      -#= hidden_field_tag "view", "grid"

    .col-2
      .input-icon-holder.search
        = label_tag :name_field, class: 'label-icon' do
          %i.icon-search.search-btn-icon
        = submit_tag 'Search', class: 'search-btn'

-#= render 'homepage/js_search'
