- ['tutor', 'member'].each do |user_type|
  %h3
    Signup like #{user_type}
  - if facebook_connect_in_use?
    = render :partial => "layouts/facebook_connect_button", :locals => { :button_text => t("sessions.new.log_in_with_your_provider_account", provider: 'Facebook'), oauth_new_user_type: user_type }
  - if google_connect_in_use?
    = link_to person_google_oauth2_omniauth_authorize_path(oauth_new_user_type: user_type), id: 'google-oauth2-login',
      class: 'google-login-button' do
      %span.google-icon
        = render :partial => "layouts/google_icon"
      %span.google-text
        = t('sessions.new.log_in_with_your_provider_account', provider: 'Google')
  - if linkedin_connect_in_use?
    = link_to person_linkedin_omniauth_authorize_path, id: 'linkedin-login',
      class: 'linkedin-login-button' do
      %span.linkedin-icon
        = render :partial => "layouts/linkedin_icon"
      %span.linkedin-text
        = t('sessions.new.log_in_with_your_provider_account', provider: 'LinkedIn')
- if facebook_connect_in_use? || google_connect_in_use? || linkedin_connect_in_use?
  %p= t("sessions.new.or_sign_up_with_your_username")