- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => custom_settings_links_for(@current_user, @current_community) }

.left-navi-section.settings-section.id-verification-section
  .settings-form-
    .settings-title
      %h3.section-subtitle.violet= t(".title")
      = link_to '#', class: 'edit-settings-button' do
        .icon-edit
    = form_for @custom_profile, remote: true, format: :json, html: { multipart: true, class: 'remote_ent_form' }, authenticity_token: true do |f|
      .row.mb-25
        .col-12
          %h3.section-subtitle.section-subtitle--regular Cover Photos

      .existing_cover_photos.mb-50
        = f.fields_for :cover_photos, @custom_profile.cover_photos do |photos_fields|
          - unless photos_fields.object.new_record?
            .fields_cont.existing_photo_record
              .thumb-block
                = image_tag photos_fields.object.image.url(:thumb)
              %div.image_descr
                %div= photos_fields.object.image.original_filename
                = photos_fields.hidden_field :id
                = photos_fields.label :_destroy, 'Remove this photo', class: 'remove-photo'
                = photos_fields.check_box :_destroy, {class: 'delete_record_chbx'}
                = photos_fields.check_box :is_primary_photo, {class: 'set_primary_record_chbx'}
                .primary-holder
                  = photos_fields.label :is_primary_photo, 'Make primary photo', class: 'remove-photo make-primary'
                  .primary-photo Primary photo
      -# = f.submit 'Save'
      %p.bold.uppercase.violet Upload a new Cover Photo
      .upload-new-holder

        = f.fields_for :cover_photos, @custom_profile.cover_photos.build do |photos_fields|
          = photos_fields.file_field :image, multiple: true, name: "custom_profile[cover_photos_attributes][new][image][]" if photos_fields.object.new_record?
      .row.mb-25
        .col-12
          %h3.section-subtitle.section-subtitle--regular.mb-15 Social Media Links
          %p Help our members get to know you better by linking your Bizaar profile with other social media sites you frequent.
          %p 
            Keep in mind that we don't allow product advertisements or solicitations on this site, so please don't create links the lead to such pages. Learn more about these policies at our 
            = link_to 'Community Rules of Conduct.', '#', class: 'link underline'
            
      .row
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/facebook.png'
            = f.text_field :social_link_facebook, :placeholder => 'Link to your Facebook'
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/twitter.png'
            = f.text_field :social_link_twitter, :placeholder => 'Link to your Twitter '
      .row
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/instagram.png'
            = f.text_field :social_link_instagram, :placeholder => 'Link to your instagram'
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/youtube.png'
            = f.text_field :social_link_youtube, :placeholder => 'Link to your Youtube'
      .row
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/twitch.png'
            = f.text_field :social_link_twitch, :placeholder => 'Link to your Twitch'
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/tumblr.png'
            = f.text_field :social_link_vimeo, :placeholder => 'Link to your Tumblr'
    = button_tag 'Save Changes', class: 'remote_ent_form_submit_btn form-element'
    
:javascript

  onDocumentReady(function(){
    $('.trigger_upload').on('click', function(event) {
      event.preventDefault();
      $('input[type="file"]').trigger('click');
    });

    $('.remote_ent_form').on('click', '.delete_record_chbx', function(){
      formAjaxSubmit();
    });

    $('.remote_ent_form').on('click', '.set_primary_record_chbx', function(e){
      $('.set_primary_record_chbx:not(#' + e.target.id + ')').val(0);
      formAjaxSubmit();
    });

    $('.remote_ent_form_submit_btn').on("click", function(){
      formAjaxSubmit();
    });

    function formAjaxSubmit() {
      $(".remote_ent_form").ajaxSubmit({
        success: function(data){
          document.location.reload();
        },
        error: function(data){
          console.log(data)
          if (data.responseJSON !== undefined && 
            data.responseJSON.error !== undefined) {
              alert(data.responseJSON.error);
          }
        }
      });
    }

  });

