- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => custom_settings_links_for(@current_user, @current_community) }

.left-navi-section.settings-section.id-verification-section
  .settings-form
    .settings-title
      %h3.section-subtitle.violet= t(".title")
      = link_to '#', class: 'edit-settings-button' do
        .icon-edit
    = form_for @custom_profile, remote: true, format: :json, html: { multipart: true, class: 'remote_ent_form' }, authenticity_token: true do |f|
      .existing-files-holder
        .row.mb-25
          .col-12
            %h3.section-subtitle.section-subtitle--regular Cover Photos

        .existing_cover_photos.mb-50
          = f.fields_for :cover_photos, @custom_profile.cover_photos do |photos_fields|
            - unless photos_fields.object.new_record?
              .fields_cont.existing_photo_record
                .thumb-block
                  = image_tag photos_fields.object.image.url(:thumb)
                %div.image_descr
                  %div= photos_fields.object.image.original_filename
                  = photos_fields.hidden_field :id
                  = photos_fields.label :_destroy, 'Remove this photo', class: 'remove-photo'
                  = photos_fields.check_box :_destroy, {class: 'delete_record_chbx'}
                  = photos_fields.check_box :is_primary_photo, {class: 'set_primary_record_chbx'}
                  .primary-holder
                    = photos_fields.label :is_primary_photo, 'Make primary photo', class: 'remove-photo make-primary'
                    .primary-photo Primary photo
      -# = f.submit 'Save'
      %p.bold.uppercase.violet Upload a new Cover Photo (preview)
      .upload-new-holder.mb-50

        = f.fields_for :cover_photos, @custom_profile.cover_photos.build do |photos_fields|
          .row
            .col-6
              = link_to '#', class: 'btn btn--black upload-link trigger_upload' do
                .small-icon
                  %svg.svg-inline--fa.fa-file-upload.fa-w-12{"aria-hidden" => "true", "data-icon" => "file-upload", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 384 512", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm65.18 216.01H224v80c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16v-80H94.82c-14.28 0-21.41-17.29-11.27-27.36l96.42-95.7c6.65-6.61 17.39-6.61 24.04 0l96.42 95.7c10.15 10.07 3.03 27.36-11.25 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z", :fill => "currentColor"}
                Choose File
          = photos_fields.file_field :image, multiple: true, name: "custom_profile[cover_photos_attributes][new][image][]", class: "multiple-cover-photos" if photos_fields.object.new_record?

        .uploaded-file-container
      .row.mb-25
        .col-12
          %h3.section-subtitle.section-subtitle--regular.mb-15 Social Media Links
          %p Help our members get to know you better by linking your Bizaar profile with other social media sites you frequent.
          %p 
            Keep in mind that we don't allow product advertisements or solicitations on this site, so please don't create links the lead to such pages. Learn more about these policies at our 
            = link_to 'Community Rules of Conduct.', '#', class: 'link underline'
            
      .row
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/facebook.png'
            = f.text_field :social_link_facebook, :placeholder => 'Link to your Facebook'
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/twitter.png'
            = f.text_field :social_link_twitter, :placeholder => 'Link to your Twitter '
      .row
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/instagram.png'
            = f.text_field :social_link_instagram, :placeholder => 'Link to your instagram'
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/youtube.png'
            = f.text_field :social_link_youtube, :placeholder => 'Link to your Youtube'
      .row
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/twitch.png'
            = f.text_field :social_link_twitch, :placeholder => 'Link to your Twitch'
        .col-6
          .social-media-item
            .social-icon
              = image_tag 'custom_images/tumblr.png'
            = f.text_field :social_link_vimeo, :placeholder => 'Link to your Tumblr'
    = button_tag 'Save Changes', class: 'remote_ent_form_submit_btn form-element'
    
:javascript

  onDocumentReady(function(){
    $('.trigger_upload').on('click', function(event) {
      event.preventDefault();
      $('input[type="file"]').trigger('click');
    });

    $('.remote_ent_form').on('click', '.delete_record_chbx', function(){
      formAjaxSubmit();
    });

    $('.remote_ent_form').on('click', '.set_primary_record_chbx', function(e){
      $('.set_primary_record_chbx:not(#' + e.target.id + ')').val(0);
      formAjaxSubmit();
    });

    $('.remote_ent_form_submit_btn').on("click", function(){
      formAjaxSubmit();
    });

    function formAjaxSubmit() {
      $(".remote_ent_form").ajaxSubmit({
        success: function(data){
          document.location.reload();
        },
        error: function(data){
          console.log(data)
          if (data.responseJSON !== undefined && 
            data.responseJSON.error !== undefined) {
              alert(data.responseJSON.error);
          }
        }
      });
    }

    $(".multiple-cover-photos").on('change', function(event) {
      if('.uploaded-file') {
        $('.uploaded-file').remove();
      }

      var counter = -1,
        file;
      
      var container = $('.uploaded-file-container');

      while ((file = this.files[++counter])) {
        var reader = new FileReader();

        reader.onload = (function(file) {
          return function() {
            var image = new Image();

            image.height = 100;
            image.title = file.name;
            image.src = this.result;
            
            var element = '<div class="uploaded-file"><div class="thumb-block uploaded-thumb-block"><img src="'+ image.src +'"/></div><div class="file-action-block"><div class="name">'+ file.name +'</div></div></div>'

            container.append(element);
          };
        })(file);

        reader.readAsDataURL(file);
      }
    });

    if($('.existing_photo_record').length === 0) {
      $('.existing-files-holder').hide();
    }
    
  });


