.testimonial{:class => "light_#{testimonial.displayed_grade > 2 ? 'green' : 'red' }", :id => "testimonial#{testimonial.id.to_s}"}
  - listing = testimonial.tx.listing
  .testimonial-avatar
    = small_avatar_thumb(testimonial.author)
  .testimonial-details
    .testimonial-author
      = link_to_unless testimonial.author.deleted?, PersonViewUtils.person_display_name(testimonial.author, @current_community), testimonial.author, :class => 'testimonial-author-name'
      -#= t("testimonials.testimonial.about_listing")
      -#= link_to listing.title, listing
      %span.testimonial-author-time
        = time_ago(testimonial.created_at) + "."



      %span.rating-container.profile-rating
        %span.rating-container
          %span.stars{"data-rating" => "2.28", :style => "width: 100px;", :title => "poor"}
            %img{:alt => "1", :src => "/assets/star-on-fd26bf0ea0990cfd808f7540f958eed324b86fc609bf56ec2b3a5612cdfde5f5.png", :title => "poor"}>/
             
            %img{:alt => "2", :src => "/assets/star-on-fd26bf0ea0990cfd808f7540f958eed324b86fc609bf56ec2b3a5612cdfde5f5.png", :title => "poor"}>/
             
            %img{:alt => "3", :src => "/assets/star-half-db15fb9b3561d5c741d8aea9ef4f0957bd9bc51aa1caa6d7a5c316e083c1abd5.png", :title => "poor"}>/
             
            %img{:alt => "4", :src => "/assets/star-off-6aaeebdaab93d594c005d366ce0d94fba02e7a07fd03557dbee8482f04a91c22.png", :title => "poor"}>/
             
            %img{:alt => "5", :src => "/assets/star-off-6aaeebdaab93d594c005d366ce0d94fba02e7a07fd03557dbee8482f04a91c22.png", :title => "poor"}/
          %span.count (5)



  .testimonial-message
    - text_with_line_breaks do
      #{testimonial.text}

  -# .testimonial-icon{:class => testimonial.grade > 0.25 ? 'positive' : 'negative'}
  -#   - if testimonial.grade > 0.25
  -#     = icon_tag("like", ["positive"])
  -#   - else
  -#     = icon_tag("dislike", ["negative"])
  .testimonial-icon
    - if listing.rating_cache.present? && listing.rating_cache[:count].to_i.positive?
      %span.rating-container
        %span.stars{ data: { rating: listing.rating_cache[:avg] } }
