// main block for all wizard steps
.page-content-inner.wizard.wizard-instructor
  .head-section
    %h1.head-section-title Cover Photos
  = render partial: 'wizard_head'
  .wizard-section
    %h2.small-title.flex-block 
      .title-image-holder
        = image_tag "custom_images/cover-photos.png"
      Choose your cover photos
    .wizard-content
      .wizard-inner
        %p.mb-25 Help your students get a feel of who you are and what you can do. Upload up to 10 images that showcase your abilities, or your teaching style.
        .need-upload
          = form_for @custom_profile, url: profile_upload_cover_photos_path(@custom_profile), html: { multipart: true, id: "fileupload" } do |f|
            - idx = 0
            = f.fields_for :cover_photos, @custom_profile.cover_photos do |photos_fields|
              = photos_fields.file_field :image, multiple: true, name: "custom_profile[cover_photos_attributes][#{idx}][image]" if photos_fields.object.new_record?
              - idx += 1
              // , name: 'custom_profile[cover_photos_attributes][0][id]'
              = photos_fields.hidden_field :id
              = photos_fields.hidden_field :_destroy
              %table.table.table-striped.test-class-test
                %tbody.files{data: {toggle: "modal-gallery", target: "#modal-gallery"}}
                  .uploaded-file
                    .thumb-block
                      = image_tag photos_fields.object.image.url(:thumb) unless photos_fields.object.new_record?
                    .file-action-block
                      .file-name #{@custom_profile.avatar.original_filename}
                      -# = link_to 'Choose another photo', '#', class: 'green link underline'
                      = link_to 'Remove this photo', '#', class: 'green link underline remove-photo'
            // = f.submit 'Next step', class: 'btn btn--violet get-badge'
          -# = link_to "Next", @next_step_path, class: 'btn btn--violet get-badge'
          .row
            .col-6
              = link_to "Back", @prev_step_path, class: 'confirm_step_btn btn btn--violet-transp', remote: true
            .col-6
              = link_to "Next", @confirm_step_path, class: 'confirm_step_btn btn btn--violet', remote: true
              = link_to "Skip current step", tutor_wizard_skip_step_path(@tutor_status.signup_status), class: 'block'

= render partial: 'confirm_step_btn_js'

:javascript
  onDocumentReady(function(){
    $('#fileupload').fileupload({
      done: function (e, data) {
          if (data.result.error === undefined) {
            $('.table-striped .files').html('')
            data.result.image_urls.forEach(function(item, i){
              // var file = data.files[0];
              var name = item[i].name;
              console.log(data)
              // $('.table-striped .files').append($('<img>',{src: item}))
              $('.table-striped .files').find('.file-name').text(name);
              $('.table-striped .files').find('.thumb-block img').attr('src', item);
            })
          } else {
            alert(data.result.error);
          }
        }
    });
  });
