// main block for all wizard steps
.page-content-inner.wizard.wizard-instructor
  .head-section
    %h1.head-section-title Cover Photos
  = render partial: 'wizard_head'
  .wizard-section
    %h2.small-title.flex-block 
      .title-image-holder
        = image_tag "custom_images/cover-photos.png"
      Choose your cover photos
    .wizard-content
      .wizard-inner
        %p.mb-25 Help your students get a feel of who you are and what you can do. Upload up to 10 images that showcase your abilities, or your teaching style.
        .row
          .col-6
            = link_to '#', class: 'btn btn--black upload-link trigger_upload' do
              .small-icon
                %svg.svg-inline--fa.fa-file-upload.fa-w-12{"aria-hidden" => "true", "data-icon" => "file-upload", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 384 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm65.18 216.01H224v80c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16v-80H94.82c-14.28 0-21.41-17.29-11.27-27.36l96.42-95.7c6.65-6.61 17.39-6.61 24.04 0l96.42 95.7c10.15 10.07 3.03 27.36-11.25 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z", :fill => "currentColor"}
              Upload Files from computer
        .need-upload
          = form_for @custom_profile, url: profile_upload_cover_photos_path(@custom_profile), html: { multipart: true, id: "fileupload" } do |f|
            - idx = 0
            = f.fields_for :cover_photos, @custom_profile.cover_photos do |photos_fields|
              = photos_fields.file_field :image, multiple: true, name: "custom_profile[cover_photos_attributes][#{idx}][image]" if photos_fields.object.new_record?
              - idx += 1
              // , name: 'custom_profile[cover_photos_attributes][0][id]'
          
              .uploaded-file
                = photos_fields.hidden_field :id
                = photos_fields.hidden_field :_destroy
                .thumb-block
                  = image_tag photos_fields.object.image.url(:thumb) unless photos_fields.object.new_record?
                .file-action-block
                  .file-name #{photos_fields.object.image.original_filename}
                  -# = link_to 'Choose another photo', '#', class: 'green link underline'
                  = link_to 'Remove this photo', '#', class: 'green link underline remove-photo'
            // = f.submit 'Next step', class: 'btn btn--violet get-badge'
          .uploaded-files-holder#uploaded-files-holder
          -# = link_to "Next", @next_step_path, class: 'btn btn--violet get-badge'
          .row
            .col-6
              = link_to "Back", @prev_step_path, class: 'confirm_step_btn btn btn--violet-transp', remote: true
            .col-6
              = link_to "Next", @confirm_step_path, class: 'confirm_step_btn btn btn--violet', remote: true
              = link_to "Skip current step", tutor_wizard_skip_step_path(@tutor_status.signup_status), class: 'block'

= render partial: 'confirm_step_btn_js'

:javascript
  onDocumentReady(function(){
    $('.trigger_upload').on('click', function(e) {
      e.preventDefault();
      var fileInput = $(this).parents('div').find('input[type="file"]');
      fileInput.trigger('click');
    })
    $('#fileupload').fileupload({
      done: function (e, data) {
        if (data.result.error === undefined) {
          $('#uploaded-files-holder').html('')
          data.result.images.forEach(function(item, i){
            var name = item.name;
            var id = item.id;
            var url = item.url;

            var template = '<div class="uploaded-file"><input type="hidden" name="custom_profile[cover_photos_attributes]['+ id + '][id]" id="custom_profile_cover_photos_attributes_' + id + '_id"><input type="hidden" value="false" name="custom_profile[cover_photos_attributes]['+ id + '][_destroy]" id="custom_profile_cover_photos_attributes_' + id + '__destroy"><div class="thumb-block"><img src="' + url +'"/></div><div class="file-action-block"><div class="file-name">'+ name +'</div><a href="#" class="green link underline remove-photo">Remove this photo</a></div></div>'
            
            $('#uploaded-files-holder').html(template);
            // $('.table-striped .files').append($('<img>',{src: item}))
            // $('.table-striped .files').find('.file-name').text(name);
            // $('.table-striped .files').find('.thumb-block').append($('<img>',{src: item}));
          })
        } else {
          alert(data.result.error);
        }
      }
    });
    $('.uploaded-file').on('click', '.remove-photo', function(e) {
      e.preventDefault();
      var input = $(this).parents('.uploaded-file').find('input[id*="_destroy"]');
      input.val('true');
      // $(this).parents('.uploaded-file').remove();
      // $(this).parents('form').serializeArray();
      $(this).parents('form').submit();
    })
  });
