// main block for all wizard steps
.page-content-inner.wizard.wizard-instructor
  .head-section
    %h1.head-section-title ID verification
  = render partial: 'wizard_head'
  .wizard-section
    %h2.small-title.flex-block 
      .title-image-holder
        = image_tag "custom_images/id-card.png"
      Verify your ID
    %span.errors
    .wizard-content
      .wizard-inner
        .need-upload
          .text-content
            %p Most classes would involve face-to-face meetings, so we strive to ensure the safety of our community members.
            %p 
              By verifying your ID, you get this
              %span.verify-sign
                = image_tag "custom_images/checked.png", class: 'small-icon'
                %span.uppercase.green Id verified
              badge and you will help your students feel safer about signing up for classes. 
              %b Your ID will not be seen by anyone but us. 
          .text-content
            %p 
              We have the utmost respect for our users personal information and 
              %b will not share your information 
              with with any third parties or entities outside of Bizaar management.
            .link-holder.flex-start.links
              = link_to 'Have more questions? Learn more here.', '#', class: 'green underline link'
              = link_to ' Or take a look at our Terms of Agreement', '#', class: 'green underline link'
          = form_for @custom_profile, url: profile_upload_id_verifications_path(@custom_profile), html: { multipart: true, id: "fileupload" } do |f|
            // = f.text_area :description, cols: 20, rows: 10, maxlength: CustomProfile::MAX_DESCRIPTION_LENGTH
            - idx = 0
            = f.fields_for :id_verifications, @custom_profile.id_verifications do |photos_fields|
              = photos_fields.file_field :image, multiple: true, name: "custom_profile[id_verifications_attributes][#{idx}][image]" if photos_fields.object.new_record?
              - idx += 1
              = photos_fields.hidden_field :id
              = photos_fields.hidden_field :_destroy
          %table.table.table-striped.test-class-test
            %tbody.files{data: {toggle: "modal-gallery", target: "#modal-gallery"}}
              - @custom_profile.id_verifications.each do |id_verification|
                %tr
                  %td
                    = image_tag id_verification.image.url(:thumb) unless id_verification.new_record?
            // = f.submit 'Next step', class: 'btn btn--violet get-badge'
          .row
            .col-6
              = link_to "Back", @prev_step_path, class: 'confirm_step_btn btn btn--violet-transp', remote: true
            .col-6
              = link_to "Next", @confirm_step_path, class: 'confirm_step_btn btn btn--violet', remote: true
          // = link_to "Skip current step", tutor_wizard_skip_step_path(@tutor_status.signup_status), class: ''

= render partial: 'confirm_step_btn_js'

:javascript
  onDocumentReady(function(){
    $('#fileupload').fileupload({
      done: function (e, data) {
          if (data.result.error === undefined) {
            $('.table-striped .files').html('')
            data.result.image_urls.forEach(function(item, i){
              $('.table-striped .files').append($('<img>',{src: item}))
            })
          } else {
            alert(data.result.error);
          }
        }
    });
  });
