// main block for all wizard steps
.page-content-inner.wizard.wizard-instructor
  .head-section
    %h1.head-section-title Set up your profile
  = render partial: 'wizard_head'
  .wizard-section
    %h2.small-title.flex-block 
      .title-image-holder
        = image_tag "custom_images/medal.png"
      Upload your profile picture
    %span.errors
    .wizard-content
      .wizard-inner
        .need-upload.lined
          %p Upload photo
          = form_for @custom_profile, url: profile_upload_avatar_path(@custom_profile), html: { multipart: true, id: "fileupload" } do |f|
            = f.file_field :avatar
            // = f.submit 'Next step', class: 'btn btn--violet get-badge'
          %table.table.table-striped.test-class-test
            %tbody.files{data: {toggle: "modal-gallery", target: "#modal-gallery"}}
              %tr
                %td
                  = image_tag @custom_profile.avatar.url(:thumb) if @custom_profile.avatar
        = link_to "Next", @confirm_step_path, class: 'confirm_step_btn btn btn--violet get-badge', remote: true

= render partial: 'confirm_step_btn_js'

:javascript
  onDocumentReady(function(){
    $('#fileupload').fileupload({
      done: function (e, data) {
          if (data.result.error === undefined) {
            $('.table-striped .files').html($('<img>',{src: data.result.image_url}))
          } else {
            alert(data.result.error);
          }
        }
    });
  });
  