
.page-content-inner.signup-instructor
  .signup-form.centered-section.wizard-section
    %h2.section-title.text-center Sign up to be an Instructor
    %h3.section-subtitle.section-subtitle--regular.text-center Earn money with your passions, skills and talents by joining our community.
    

    -# - if @community_customization && @community_customization.signup_info_content
    -#   %p
    -#     = @community_customization.signup_info_content.html_safe
    -# - elsif @current_community.allowed_emails && @current_community.allowed_emails[0] != "/" 
    -#   %p
    -#     = t('.email_restriction_instructions',
    -#           :community_name => @current_community.name(I18n.locale),
    -#           :allowed_emails => @current_community.allowed_emails,
    -#           :count => (@current_community.allowed_emails.split(",").count))

    = form_for @service.person do |form|
      = hidden_field_tag :update_after_social_signup, true
      -# Name
      .input-container
        .input-holder
          -#= form.label :given_name, t('.given_name')
          = form.text_field :given_name, :class => :text_field, :maxlength => "30", :placeholder => t('people.new.given_name')
        .input-holder
          -#= form.label :family_name, t('.family_name')
          = form.text_field :family_name, :class => :text_field, :maxlength => "30", :placeholder => t('people.new.family_name')

      -# Email
      .input-container
        .input-holder
          -# = form.label :email, t('.email')
          = form.text_field :email, :class => :text_field, :maxlength => "255", :placeholder => @current_user.primary_email.try(:address) || t('people.new.email'), disabled: :disabled
        .input-holder
          = form.text_field :zip_code, :class => :text_field, :maxlength => "255", :placeholder => t('people.new.zip_code')
      -# -# Username
      -# .input-holder
      -#   = form.label :username, username_label
      -#   = form.text_field :username, :class => :text_field, :maxlength => "20", :id => "person_username1"

      -# Terms
      -# .outer-checkbox-container
      -#   .checkbox-container
      -#     - unless @skip_terms_checkbox
      -#       %input{:type => "checkbox", :id => "person_terms", :name => "person[terms]"}
      -#       = form.label :terms, :class => "checkbox" do
      -#         = raw t('.i_accept_the_terms_and_privacy',
      -#           terms: link_to(t(".terms"), "#", :tabindex => "-1", :id => "terms_link", :class => "form"),
      -#           privacy: link_to(t(".privacy"), "#", :tabindex => "-1", :id => "privacy_link", :class => "form"),)

      -# = form.hidden_field :consent, :value => @current_community.consent

      -# .outer-checkbox-container
      -#   .checkbox-container
      -#     %input{:type => "checkbox", :id => "person_admin_emails_consent", :name => "person[admin_emails_consent]"}
      -#     = form.label :admin_emails_consent, t('.admin_emails_consent'), :class => 'checkbox'

      .birthday-holder
        %h3.section-subtitle.section-subtitle--regular Birthday
        %p Your birthday is confidential. You do have to be 19 and older to sign up with us
        .input-container
          = form.date_select :birthday, order: [:day, :month, :year], :start_year => (Date.today.year - 100), :end_year => Date.today.year
          // %select#select_month.select-month.custom-select{:name => ""}
          //   %option Month
          // %select#select_day.select-day.custom-select{:name => ""}
          //   %option Day
          // %select#select_year.select-year.custom-select{:name => ""}
          //   %option Year
      = button_tag t('settings.account.save'), class: 'btn btn--violet btn--left signup-btn'

  // = render :partial => "help_texts", :collection => ["terms", "help_invitation_code", "privacy"], :as => :field

