// main block for all wizard steps
.page-content-inner.wizard.wizard-instructor
  .head-section
    %h1.head-section-title Set up your profile
  = render partial: 'wizard_head'
  .wizard-section
    %h2.small-title.flex-block 
      .title-image-holder
        = image_tag "custom_images/edit.png"
      Write something about yourself (optional)
    %span.errors
    .wizard-content
      .wizard-inner
        %p.mb-25 Writing a short introduction will help your clientele get to know you better. Be personable and let them know why they should take your class.
        %p 
          Max #{CustomProfile::MAX_DESCRIPTION_LENGTH} characters / 
          %span.written-char 0
        = form_for @custom_profile, remote: true, format: :json, authenticity_token: true, html: { id: "custom_profile_form" } do |f|
          = f.text_area :description, cols: 20, rows: 10, maxlength: CustomProfile::MAX_DESCRIPTION_LENGTH
          //= f.submit 'Next', class: 'btn btn--violet get-badge'
      // = link_to "Next", public_send(@next_step_path), class: 'btn btn--violet get-badge'
      .row
        .col-6
          = link_to "Back", @prev_step_path, class: 'confirm_step_btn btn btn--violet-transp', remote: true
        .col-6
          = link_to "Next", "#", class: 'submit_remote_form_btn btn btn--violet block'


= render partial: 'remote_form_submit_handler'
= render partial: 'confirm_step_btn_js'

