.profile-data-holder
  .profile-data-ava
    .people-image
      = image_tag @custom_profile.avatar.url(:medium)

    .people-progress-holder
      .people-progress
        %i.icon.icon-verified
        %span.people-progress-text Id Verified

      %h3.people-progress-title Games and recreation

      .people-progress
        %i.icon.icon-competitor
        %span.people-progress-text Competitor

      .people-progress
        %i.icon.icon-awards
        %span.people-progress-text Awards verified


      .profile-action-buttons-desktop
        = render "profile_action_buttons", service: @service

  .profile-data-info
    .profile-title-holder
      %h2.profile-title
        Hi I'm
        %span= PersonViewUtils.person_display_name(person, @service.community)

      .profile-report-title
        %i.icon.icon-report
        %span.profile-report-text Report&nbsp;
        %span user

    = render "profile_rating"



    %h3.profile-subtitle International Table Soccer Federation Finalist
    %h3.profile-subtitle Official Co-founder of Vancouver Foosball Club

    .row.profile-about-me
      - if person.description && !person.description.blank?
        = markdown(person.description)
      - elsif current_user?(person)
        %a{href: person_settings_path(person)}
          .icon-with-text-container
            .ss.text-part= t(".add_description")

    - if @service.community_person_custom_fields.any?
      -  @service.community_person_custom_fields.each do |custom_field|
        - custom_field_value = person.custom_field_value_for(custom_field)
        - if custom_field_value
          - if custom_field.required? || custom_field_value.display_value.to_s.present?
            .row
              .col-12
                %span.people-custom-fields-title
                  = "#{custom_field.name(I18n.locale)}:"
                - if custom_field.is_a?(CheckboxField)
                  = render 'people/custom_fields/checkbox', custom_field: custom_field,
                        custom_field_value: custom_field_value
                - elsif custom_field.iconcons_a?(TextField)
                  - text_with_url_links do
                    = custom_field_value.display_value
                - else
                  %span.people-custom-fields-value
                    = custom_field_value.display_value

    %p
      = @custom_profile.description

    = render "profile_soc_list"