- person = @service.person

- content_for :javascript do
  initialize_profile_view("#{person.username}");

-#- content_for :title_header do
-#  %h1
-#    %span.profile-title= PersonViewUtils.person_display_name(person, @service.community)

.profile-container.profile-container--member
  .row
    .col-12
      = render "profile_data_holder", person: person


  .col-12
    .row.relative
      .people-image-mobile
        = huge_avatar_thumb(person)
      .profile-action-buttons-mobile
        = render "profile_action_buttons", service: @service



    #people-testimonials.listing-main
      .row
        %h2.people-header
          - if @service.received_testimonials?
            = pluralize(@service.received_testimonials.size, t(".review"), t(".reviews"))
            = "(#{@service.feedback_positive_percentage.to_s}% #{t("people.show.positive")}, #{@service.received_positive_testimonials.size}/#{@service.received_testimonials.size})"
          - else
            = t(".no_reviews")
        - if @service.received_testimonials?
          #profile-testimonials-list
            = render :partial => "testimonials", :locals => {:received_testimonials => @service.received_testimonials, :limit => 3}


- content_for :extra_javascript do
  :javascript
    window.ST.initializeFollowButtons();
