- person = @service.person

- content_for :javascript do
  initialize_profile_view("#{person.username}");

-#- content_for :title_header do
-#  %h1
-#    %span.profile-title= PersonViewUtils.person_display_name(person, @service.community)

.row
  = render "profile_slider"

.profile-container
  .row
    .col-12
      = render "profile_data_holder", person: person

    .col-12
      .row.relative
        .people-image-mobile
          = image_tag @custom_profile.avatar.url(:medium)
        .profile-action-buttons-mobile
          = render "profile_action_buttons", service: @service
      -#%h1
      -#  Show tutor
      -#.examples
      -#  %pre
      -#    = @custom_profile.pretty_inspect


        %h2 Certifications
        - @custom_profile.certifications.each do |cert|
          .row
            = cert.name
            -# = cert.inspect
            = cert.image.url(:medium)


      .row
        %h2.people-header
          =t(".open_classes")
          -#- if @service.listings.total_entries > 0
          -#  - if current_user?(person) && params[:show_closed]
          -#    = pluralize(@service.listings.total_entries, t(".listing"), t(".listings"))
          -#  - else
          -#    = pluralize(@service.listings.total_entries, t(".open_listing"), t(".open_listings"))
          -#- else
          -#  - if current_user?(person) && params[:show_closed]
          -#    = t(".no_listings")
          -#  - else
          -#    = t(".no_open_listings")

          %span.people-show-closed-link
            - if current_user?(person)
              = link_to t("people.profile_listings.manage_listings"), listings_person_settings_path(person.username)

      #profile-listings-list
        - limit = 3
        = render :partial => 'listings/profile_listings', :locals => {person: person, limit: limit, listings: @service.listings}

      -#- if @service.community.follow_in_use?
      -#  = render :partial => "followed_people", :locals => { person: person, followed_people: @service.followed_people, limit: 6 }

      - if @custom_profile.cover_photos.count > 0
        %h2.people-header=t('.cover_photos_title')
        .profile-cover-photo-holder
          - @custom_profile.cover_photos.each do |c_photo|
            = image_tag(c_photo.image.url(:medium), :class => "profile-cover-photo-item")


      #people-testimonials.listing-main
        .row
          %h2.people-header
            - if @service.received_testimonials?
              = t(".has_reviews")

              -#= pluralize(@service.received_testimonials.size, t(".review"), t(".reviews"))
              -#= "(#{@service.feedback_positive_percentage.to_s}% #{t("people.show.positive")}, #{@service.received_positive_testimonials.size}/#{@service.received_testimonials.size})"
            - else
              = t(".no_reviews")
          - if @service.received_testimonials?
            #profile-testimonials-list
              = render :partial => "testimonials", :locals => {:received_testimonials => @service.received_testimonials, :limit => 3}



- content_for :extra_javascript do
  :javascript
    window.ST.initializeFollowButtons();
