// verify id
.wizard-section
  %h2.small-title.flex-block 
    .title-image-holder
      = image_tag "custom_images/id-card.png"
    Verify your ID
  .wizard-content
    .text-content
      %p Most classes would involve face-to-face meetings, so we strive to ensure the safety of our community members.
      %p 
        By verifying your ID, you get this
        %span.verify-sign
          = image_tag "custom_images/checked.png", class: 'small-icon'
          %span.uppercase.green Id verified
        badge and you will help your students feel safer about signing up for classes. 
        %b Your ID will not be seen by anyone but us. 
    .text-content
      %p 
        We have the utmost respect for our users personal information and 
        %b will not share your information 
        with with any third parties or entities outside of Bizaar management.
      .link-holder.flex-start.links
        = link_to 'Have more questions? Learn more here.', '#', class: 'green underline link'
        = link_to ' Or take a look at our Terms of Agreement', '#', class: 'green underline link'
    .choose-holder
    
  .row
    .col-6
      = link_to 'Back', '#', class: 'btn btn--violet-transp block-btn text-center'
    .col-6
      = link_to 'Next', '#', class: 'btn btn--violet block-btn text-center'