.custom-footer
  .container
    .row.footer-list
      .col-4
        %h4.footer-title Company
        %ul.base-list.footer-menu
          %li.base-list__item.footer-menu__item
            = link_to 'About Us', '#', class: 'footer-link'
          %li.base-list__item.footer-menu__item
            = link_to 'Our Blog', '#', class: 'footer-link'
          %li.base-list__item.footer-menu__item
            = link_to 'Contact Us', '#', class: 'footer-link'
      .col-4
        %h4.footer-title Contact
        %ul.base-list
          %li.base-list__item.footer-menu__item
            = mail_to 'contact@bizaar.ca', 'contact@bizaar.ca', class: 'footer-link'
          %li.base-list__item.footer-menu--socials
            = link_to '#', class: 'social-link' do
              = image_tag 'homepage/facebook.png'
            = link_to '#', class: 'social-link' do
              = image_tag 'homepage/instagram.png'
            = link_to '#', class: 'social-link' do
              = image_tag 'homepage/twitter.png'
      .col-4
        %h4.footer-title Learn more
        %ul.base-list.footer-menu
          %li.base-list__item.footer-menu__item
            = link_to 'Become a Tutor', '#', class: 'footer-link'
          %li.base-list__item.footer-menu__item
            = link_to 'Safety', '#', class: 'footer-link'
          %li.base-list__item.footer-menu__item
            = link_to 'Terms and Conditions', '#', class: 'footer-link'
          %li.base-list__item.footer-menu__item
            = link_to 'Privacy Agreement', '#', class: 'footer-link'
          %li.base-list__item.footer-menu__item
            = link_to 'Community Pact', '#', class: 'footer-link'


