-#
  Listing image for grid

  Includes:
  - Listing image
  - Overlay (transparent gradient black)
  - Listing price
  - Adds `modifier_class` which can be used for view specific fine tunings

= link_to(listing_path(listing.url), :class => "#{modifier_class} fluid-thumbnail-grid-image-item-link") do
  .fluid-thumbnail-grid-image-image-container{:class => "#{modifier_class}"}
    - with_first_listing_image(listing) do |first_image_url|
      = image_tag first_image_url, {:alt => listed_listing_title(listing), :class => "#{modifier_class} fluid-thumbnail-grid-image-image"}

    .fluid-thumbnail-grid-image-overlay{:class => "#{modifier_class}"}
    .fluid-thumbnail-grid-listing-info{:class => "#{modifier_class}"}
      %span.text lvl: Beginner, adept
    .fluid-thumbnail-grid-listing-schedule{:class => "#{modifier_class}"}
      %h4.title Pay as You Go Class
      .schedule-list
        .schedule-item
          %span.text Fridays
          %span.text 6pm - 7:30pm
        .schedule-item
          %span.text Saturdays
          %span.text 2pm - 3pm
      = link_to 'Book immediately', listing_path(listing.url), class: 'btn btn--violet action-btn'
